<div class="container searchbox">
    <div class="row">
        <div class="col-sm-7 mx-auto">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button id = "btnSrch" type="submit"/>
                            <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                            <span class="fa fa-search" aria-hidden="true"/>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
